# MySQL environment vars
MYSQL_ROOT_PASSWORD=YourPasswordGodDammit
MYSQL_DATABASE=my_app
MYSQL_USER=gandalf
MYSQL_PASSWORD=YouShallNotPass
# Do not write variables names underneath or PHP won't be able to connect to mysql
DATABASE_URL=mysql://gandalf:YouShallNotPass@mysqldbcontainer:3306/my_app